@{
    ViewData["Title"] = "Home Page";
}
<div>
    <p> <img src="https://th.bing.com/th/id/R.df19b0eff413e1466289d8c1bb0a18b9?rik=GjRb2mucI9N0kg&riu=http%3a%2f%2fwww.9yahds.com%2fcontent%2fuploads%2f2015%2f05%2fmidlib3.png&ehk=p4RC%2fvkwvsgSEGHoGFbS7MhCopwUX8rRqx%2bu4lfpRAo%3d&risl=&pid=ImgRaw&r=0" alt="" width="1100" height="400" /> </p>
</div>

<div class="text-left">
    <h1 class="display-4"><font face="Comic sans MS" size=" 28">Welcome to !Fast Just Furious's Mad Libs.</font><br /></h1>

    <h1 class="display-4">Welcome to !Fast Just Furious's Mad Libs.</h1>
    <p>
        What are Mad Libs?
        Mad Libs are a phrasal template word game. It consists of prompting the player for a list of words to substitute for blanks in a story before reading aloud.
    </p>
    <p>Example of list of words you might have:</p>
    <ul>
        <li>
            Adjectives: describes something or somebody. <em>Exmaple - beautiful, chubby, witty, lazy, tall</em>
        </li>
        <li>
            Adverbs: describes how something is done. <em>Example - mysteriouly, noisily, doubtfully</em>
        </li>
        <li>
            Noun:the name of a person, place, or thing. <em>Example - cat, french fries, school, Bobby</em>
        </li>
        <li>
            Plural Noun: mulitple person, place, or thing. <em>Example - dogs, cars, beaches, Dylans</em>
        </li>
        <li>
            Verb: an action word. <em>Example - run, fall, kick</em>
        </li>
        <li>
            Past-tense Verb: an action word in the past. <em>Example - won, tried, patted</em>
        </li>
        <li>
            Verb ending in "-ing": an action word emphasising the action is in progress. <em>Example - eating sleeping. driving</em>
        </li>
        <li>
            Number: something that can eventually be counted too. <em>Example - 1, two, 1+2, IV</em>
        </li>
        <li>
            Place: any sort of place. <em>Example: kitchen, forest, Gordon Ramsay Steak</em>
        </li>
    </ul>
</div>

    <h2>
        <font face="Comic sans MS" size=" 14">Start Your Story</font><br />
    </h2>
    <ul>
        <il>
            <a asp-area="" asp-controller="Zoo" asp-action="Create">A Day At The Zoo</a>
        </il>
    </ul>
</div>
        <li>
            <a class="list-group" asp-area="" asp-controller="Zoo" asp-action="Create">Testing</a>
        </li>
    </ul>
</div>
