@{
    ViewData["Title"] = "Home Page";
}

</div>
<div class="col-sm-6 px-0 d-none d-sm-block">
    <img src="https://th.bing.com/th/id/R.b53144929aa60362973256e4b03a1eee?rik=eIQliZjW%2bPbZnw&pid=ImgRaw&r=0" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
</div>

    <div class="text-left">
        <h1 class="display-4">Welcome to !Fast Just Furious's Mad Libs.</h1>
        <p>
            What are Mad Libs?
            Mad Libs are a phrasal template word game. It consists of prompting the player for a list of words to substitute for blanks in a story before reading aloud.
        </p>
        <p>Example of list of words you might have:</p>
        <ul>
            <li>
                Adjectives: describes something or somebody. Example - beautiful, chubby, witty, lazy, tall
            </li>
            <li>
                Adverbs: describes how something is done. Example - mysteriouly, noisily, doubtfully
            </li>
            <li>
                Noun:the name of a person, place, or thing. Example - cat, french fries, school, Bobby
            </li>
            <li>
                Plural Noun: mulitple person, place, or thing. Example - dogs, cars, beaches, Dylans
            </li>
            <li>
                Verb: an action word. Example - run, fall, kick
            </li>
            <li>
                Past-tense Verb: an action word in the past. Example - won, tried, patted
            </li>
            <li>
                Verb ending in "-ing": an action word emphasising the action is in progress. Example - eating sleeping. driving
            </li>
            <li>
                Number: something that can eventually be counted too. Example - 1, two, 1+2, IV
            </li>
            <li>
                Place: any sort of place. Example:
            </li>
        </ul>`

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    
